{% extends "base.html" %}

{% block title %}
    Task Notes
{% endblock title %}

{% block content %}
<main>
    <div class="project-detail">
        <h1>{{ task_detail.name }}</h1>

        {% with notes.count as total_notes %}
        <h2>
            {{ total_notes }} note{{ total_notes|pluralize }}
        </h2>

        {% for note in notes %}
        <div>
            <p>
                Note {{ forloop.counter }} by {{ note.name }} on {{ note.created_on }}
            </p>
            {{ note.body|linebreaks }}
        </div>
        {% endfor %}

        <div class="task-form">
            <h1>Create a new note</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>

        {% endwith %}
        <p>
            <a href="{% url "show_my_tasks" %}">Go back to my task list</a>
        </p>
    </div>
</main>
{% endblock content %}
