{% extends "base.html" %}

{% block title %}
    My tasks
{% endblock title %}

{% block content %}
<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        {% if show_my_tasks %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </thead>
                <tbody>
                    {% for task in show_my_tasks %}
                        <tr>
                            <td><a href="{% url "task_detail" task.id %}">{{ task.name }}</a></td>
                            <td>{{ task.start_date|date:'D, M jS' }}</td>
                            <td>{{ task.due_date|date:'D, M jS' }}</td>
                            <td>
                                <form method="POST" class="center-form">
                                    {% csrf_token %}
                                    <input type="checkbox" name="is_completed" id="" {% if task.is_completed %}checked{% endif %} onclick="this.form.submit()">
                                    <input type="number" value={{ task.id }} name="id" hidden>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
